<link rel="stylesheet" href="/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js" type="text/javascript"></script>
<script src="/js/app.js" type="text/javascript"></script>

<div class="word">
	<input type="text" autofocus placeholder="PIRATESCRABBLE">
	<div class="letters"></div>
	<ul class="suggestions"></ul>
</div>
